h1, h2,p{
    text-align: center;
}

article {
    margin-left: 20%;
}

.tea-flavor {
    width: 409px;
}

.tea-price {
    width: 120%;
margin-top: -34px;
}

h2 {
    font-size: 30px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Oswald", sans-serif;
    opacity: 0.3;
}

img {
    bottom: -50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 800px;
}

